.homePageWrapper{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: aliceblue;
}

.formWrapper{
  background: #282a36;
  padding: 20px;
  border-radius: 12px;
  width: 400px;
  max-width: 90%;
}
.inputGroup{
  display: flex;
  flex-direction: column;
}
.mainLabel{
  margin-bottom: 20px;
  margin-top: 0px;

}

.homePageLogo{
  height: 80px;
  margin-bottom: 30px;
  border-radius: 9px;
}
.inputBox{
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-bottom: 8px;
  background: #eee;
  font-size: 16px;
  font-weight: bold;
}

.btn{
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.30 ease-in-out;
}

.joinBtn{
  width: 100px;
  margin-left: auto;
  background: #4aee88;
}

.joinBtn:hover{
  background:#2b824c;
}


footer{
  position: fixed;
  bottom: 0;
}

footer a{
  color: #4aee88;
}
.createInfo{
  margin: 0 auto;
  margin-top: 20px;
}

.createNewBtn {
  color: #4aee88;
  text-decoration: none;
  border-bottom: 1px solid #4aee88 ;
  transition: all 0.30 ease-in-out;
}
.createNewBtn:hover , footer a:hover{
  color: #2b824c;
  border-color: #2b824c;
}

.mainWrap {
  display: grid;
  grid-template-columns: 230px 1fr;
  height: 100vh;
}

.aside {
  background: #1c1e29;
  padding: 16px;
  color: #fff;
  display : flex ;
  flex-direction: column;
}

.asideInner {
  flex :1;
}
.clientsList {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap : 20px
}

.client {
  display : flex;
  flex-direction: column;
}

.logoImage {
  height: 80px;
  margin-bottom: 20px;
  border-radius: 9px;
}
.logo {
  border-bottom: 1px solid #424242;
  padding-bottom: 10px;
}

.userName {
  margin-top: 7px;
}

.leaveBtn{
  margin-top: 20px;
  background: #f0163b;
}

.leaveBtn:hover{
  background: #ed3050;
  color: #eee;
}

 .CodeMirror {
   min-height : calc(100vh-20px);
   font-size: 20px;
   line-height: 1.6;
   padding-top: 20px;
 } 